@{
    Layout = "_Layout";
}

@model Pierre.Models.Treat

<h2>Add a new treat</h2>

<div id="stuff">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        <br>
        <br>
        @Html.TextBoxFor(model => model.Name)
        <br>
        <br>
        <br>
        @Html.LabelFor(model => model.Description)
        <br>
        <br>
        @Html.TextAreaFor(model => model.Description)
        <br>
        <br>
        <br>
        <input type="Submit" value="Add Treat" class="btn btn-primary" />
    }
</div>
<br>
<br>
<div class="links">
    <h3>@Html.ActionLink("Back to Treats", "Index")</h3>
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
</div>