@{
    Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h2>Add a new flavor</h2>

<p>@Html.ValidationMessageFor(model => model.Flav, "", new { @class = "text-danger", @style = "font-weight: 600; font-size: 22px;" })</p>

<div id="stuff">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Flav)
        <br>
        <br>
        @Html.TextBoxFor(model => model.Flav)
        <br>
        <br>
        <br>
        <input type="Submit" value="Add Flavor" class="btn btn-primary" />
    }
</div>
<br>
<br>
<div class="links">
    <h3>@Html.ActionLink("Back to Flavors", "Index")</h3>
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
</div>