@{
    Layout = "_Layout";
}

@using Pierre.Models
@model Pierre.Models.Flavor

<h1>Details For:</h1>
<h2>@Html.DisplayFor(model => model.Flav)</h2>

<hr>

<div id="stuff">
    @if (@Model.JoinEntities.Count == 0)
    {
        <p>No treats have this flavor</p>
    }
    else
    {
        <h3>Treats with this flavor:</h3>
        <ul>
            @foreach (TreatFlavor join in Model.JoinEntities)
            {
                <li>
                    @join.Treat.Name
                    @using (Html.BeginForm("DeleteJoin", "Flavors"))
                    {
                        @Html.Hidden("joinId", @join.TreatFlavorId)
                        <input type="submit" value="Delete" class="btn btn-primary" />
                    }
                    <br>
                </li>
            }
        </ul>
    }
</div>

<br>

<div class="links">
    <h2>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</h2>
    <h2>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</h2>
    <h2>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</h2>
    <h2>@Html.ActionLink("Back to Flavors", "Index")</h2>
    <h2>@Html.ActionLink("Home", "Index", "Home")</h2>
</div>